html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	border: 2px solid #FFB300;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 25px 25px 15px;
	width: 200px;
	background: #09091E;
}
.cedex_logo {
	display: block;
	margin-bottom: 10px;
}
p {
	font-size: 20px;
	margin: 0 0 5px;
	font-weight: 300;
}
.content {
	display: none;
}
.content span {
	font-weight: 400;
}
.refresh_button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 4px;
	width: 13px;
	height: 13px;
}
.refresh_button:hover {
	animation: spin 2s linear infinite;
}
.error_message {
	display: none;
	font-size: 16px;
}
.loader {
	display: none;
	margin: 0 auto;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #FFB300;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.additional_info {
	margin: 20px 0 0;
	font-size: 12px;
	color: #c3c3c3;
	text-align: right;
}
.additional_info a {
	color: #c3c3c3;
}
